<a href="https://colab.research.google.com/github/diogosec/Statistics-Applied-to-Computing/blob/main/Projeto-PRF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Diogo da Silva Santos - PRF

# 1ª Tarefa:
Não foi possível acessar os dados diretamente pela servidor contratado pela PRF pois o acesso foi revogado recentemente.

Portanto, houve acesso aos dados antes que fossem revogados, através da 
disponibilização dos dados no grupo da disciplina foi possível alocá-los em arquivo local.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

df2021 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/arquivos/dadoss/acidentes2021_todas_causas_tipos.csv', sep=";", encoding='latin-1')

# Dados de 2021:

In [ ]:
display(df2021)

,id,pesid,data_inversa,dia_semana,horario,uf,br,km,municipio,causa_principal,...,sexo,ilesos,feridos_leves,feridos_graves,mortos,latitude,longitude,regional,delegacia,uop
0,331693.0,739775.0,2021-01-01,sexta-feira,00:02:00,SC,101.0,"314,9",LAGUNA,Sim,...,Masculino,1,0,0,0,"-28,43029392","-48,84925073",SPRF-SC,DEL02-SC,UOP01-DEL02-SC
1,331693.0,739774.0,2021-01-01,sexta-feira,00:02:00,SC,101.0,"314,9",LAGUNA,Sim,...,Feminino,0,1,0,0,"-28,43029392","-48,84925073",SPRF-SC,DEL02-SC,UOP01-DEL02-SC
2,331693.0,738219.0,2021-01-01,sexta-feira,00:02:00,SC,101.0,"314,9",LAGUNA,Sim,...,Masculino,1,0,0,0,"-28,43029392","-48,84925073",SPRF-SC,DEL02-SC,UOP01-DEL02-SC
3,331693.0,739775.0,2021-01-01,sexta-feira,00:02:00,SC,101.0,"314,9",LAGUNA,Sim,...,Masculino,1,0,0,0,"-28,43029392","-48,84925073",SPRF-SC,DEL02-SC,UOP01-DEL02-SC
4,331693.0,739774.0,2021-01-01,sexta-feira,00:02:00,SC,101.0,"314,9",LAGUNA,Sim,...,Feminino,0,1,0,0,"-28,43029392","-48,84925073",SPRF-SC,DEL02-SC,UOP01-DEL02-SC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449013,465993.0,1008345.0,2021-08-25,quarta-feira,15:10:00,RO,364.0,970,PORTO VELHO,Sim,...,Masculino,0,0,1,0,"-9,65616271","-65,72389011",SPRF-RO,DEL01-RO,UOP03-DEL01-RO
449014,465993.0,1008346.0,2021-08-25,quarta-feira,15:10:00,RO,364.0,970,PORTO VELHO,Sim,...,Masculino,1,0,0,0,"-9,65616271","-65,72389011",SPRF-RO,DEL01-RO,UOP03-DEL01-RO
449015,465993.0,1008343.0,2021-08-25,quarta-feira,15:10:00,RO,364.0,970,PORTO VELHO,Sim,...,Feminino,0,0,1,0,"-9,65616271","-65,72389011",SPRF-RO,DEL01-RO,UOP03-DEL01-RO
449016,465993.0,1008344.0,2021-08-25,quarta-feira,15:10:00,RO,364.0,970,PORTO VELHO,Sim,...,Feminino,0,0,1,0,"-9,65616271","-65,72389011",SPRF-RO,DEL01-RO,UOP03-DEL01-RO
449017,465993.0,1008345.0,2021-08-25,quarta-feira,15:10:00,RO,364.0,970,PORTO VELHO,Sim,...,Masculino,0,0,1,0,"-9,65616271","-65,72389011",SPRF-RO,DEL01-RO,UOP03-DEL01-RO

# 2ª Tarefa:

**(a) quantos acidentes ocorreram em cada ano?**

In [ ]:
len(df2021.index)

449018

**(b) quantas variáveis cada conjunto de dados registra?**

In [ ]:
len(df2021.columns)

37

**(c) quais as cinco cidades brasileiras onde mais ocorreram acidentes em rodovias federais?**

In [ ]:
df2021['municipio'].value_counts().head()

BRASILIA           6502
GUARULHOS          5119
PORTO VELHO        4325
CURITIBA           4235
DUQUE DE CAXIAS    3214
Name: municipio, dtype: int64

**(d) quantos acidentes com feridos graves aconteceram na Paraíba em 2021?**

In [ ]:
dfilter=df2021['feridos_graves']>0
df = df2021[dfilter]
dfilter=df['uf']=='PB'
df2 = df[dfilter]
len(df2.index)

1874

# 3ª Tarefa

**Para cada indicação abaixo, construa um novo dataframe, salvando-o com a terminação .csv.**

**(a) ranking de acidentes por estado para ambos os anos (um só arquivo combinando a
informação dos dois anos);**

In [ ]:
acidente2021 = df2021['uf'].value_counts()
dados = {'2021':acidente2021}
acidentes = pd.DataFrame(dados).rename_axis('UF').reset_index().sort_values(by = ['2021']).loc[::-1,:]
acidentes.to_csv('ranking2021.csv',sep=';',index = None, header=True)
acidentes

    UF   2021
0   MG  60684
1   PR  42176
2   SC  37913
3   SP  33570
4   RS  29710
5   GO  27880
6   BA  26333
7   RJ  25184
8   MS  17644
9   MT  17589
10  PE  17519
11  RO  16017
12  PA  12553
13  ES  11456
14  PI  11336
15  PB  11328
16  CE  10656
17  MA   9789
18  DF   6502
19  RN   6012
20  TO   5661
21  SE   2786
22  AL   2661
23  RR   2009
24  AC   1443
25  AM   1383
26  AP   1224

**(b) acidentes por dia da semana para ambos os anos (um só arquivo combinando a informação dos dois anos).**

In [ ]:
semana2021 = df2021['dia_semana'].value_counts()
dados = {'2021':semana2021}
crshwk = pd.DataFrame(dados).rename_axis('dia').reset_index().sort_values(by = ['2021']).loc[::-1,:]
crshwk.to_csv('acidentes-semana-21.csv',sep=';',index = None, header=True)
crshwk

             dia   2021
0        domingo  79924
1         sábado  73590
2    sexta-feira  71233
3  segunda-feira  58259
4   quarta-feira  57226
5   quinta-feira  56518
6    terça-feira  52268

# 4ª Tarefa

**Com relação a ocorrência dos acidentes, responda:**

**(a) qual a causa mais frequente e a mais rara de acidentes registrados nos dois anos?**

In [ ]:
causas2021 = df2021['causa_acidente'].value_counts()
dados = {'2021':causas2021}
total = pd.DataFrame(dados).rename_axis('causa_acidente').reset_index().sort_values(by = ['2021']).loc[::-1,:]
total

                                       causa_acidente   2021
0                             Velocidade Incompatível  55869
1            Reação tardia ou ineficiente do condutor  50576
2   Condutor deixou de manter distância do veículo...  35820
3                      Ausência de reação do condutor  35231
4   Acessar a via sem observar a presença dos outr...  27626
..                                                ...    ...
67                               Modificação proibida     80
68                              Sinalização encoberta     78
69                               Transitar na calçada     65
70                               Semáforo com defeito     60
71  Condutor não acionou o farol baixo durante o d...     34

[72 rows x 2 columns]

**(b) qual a proporção de pessoas ilesas e de feridos graves por mês em cada um dos anos
considerados? (proporção = numero de ilesos ou feridos graves/ número total de
pessoas envolvidas no acidente);**

In [ ]:
df2021['data_inversa'] = pd.to_datetime(df2021['data_inversa'])
ilesos2021 = df2021.groupby(df2021['data_inversa'].dt.month)['ilesos'].sum()
graves2021 = df2021.groupby(df2021['data_inversa'].dt.month)['feridos_graves'].sum()
graves2021/ilesos2021

data_inversa
1     0.288015
2     0.330832
3     0.360972
4     0.334511
5     0.335513
6     0.271737
7     0.296605
8     0.342684
9     0.356469
10    0.380534
11    0.462407
12    0.318379
dtype: float64